* {
    box-sizing: border-box;
    background-color: #A0B2A6;
}

header {
    text-align: center;
    /* font-weight: bold; */
    ;
}

body {
    text-align: center;
}

main {
    padding: 20px;
    text-align: center;
    /* background-color: #EABDA8; */
}

#question {
    background-color: #493843;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

#answers-id {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #61988E;
    color: white;
    border-radius: 5px;
    padding: 10PX;
    margin: 5PX;
}

#start {
    background-color: #61988E;
    color: white;
    border-radius: 5px;
    padding: 14px;
    font-size: 16px;
    font-weight: bold;
}

#get-your-score {
    border: 2px;
    border-color: #EABDA8;
}

#answer {
    font-size: 20px;
    padding: 50px;
}

footer {
    padding-top: 20px;
}