* {
    box-sizing: border-box;
}

header {
    text-align: center;
}

main {
    padding: 20px;
}

#answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    background-color: rgb(39, 202, 194);
    border-radius: 5px;
    width: fit-content;
}


/* button {
    padding: 10px;
    width: fit-content;
} */

hero {
    display: flex;
    justify-content: space-evenly;
}

main {
    text-align: center;
}

footer {
    padding-top: 20px;
}